  <view title="myTitle"  left-buttons="leftButtons" right-buttons="rightButtons">

    <content has-header="true" padding="true">

	 <div class="list">

	  <a class="item item-icon-left" href="#/about">
	    <i class="icon ion-person-stalker"></i>
	    About
	    <span class="badge badge-assertive">0</span>
	  </a>

	  <a class="item item-icon-left" href="#/contact">
	    <i class="icon ion-email"></i>
	    Contact
	  </a>	  

	  <a class="item item-icon-left" href="#/list">
	    Lista
	  </a>

	</div>     
    </content>
  </view>