  <view title="myTitle"  left-buttons="leftButtons" right-buttons="rightButtons">

    <content has-header="true" padding="true">
   
	
	<!-- listado de lits: start -->
	<div class="list">
	    <a ng-repeat="lit in lits" class="item item-thumbnail-left" href="#">
	      <img src="http://patrimonio24.com/municipios/thumbs-small/{{lit.thumbnail}}">
	      <h2>{{lit.title}}</h2>
	      <i class="icon ion-ios7-location"></i>
	      <p>{{lit.horario}}</p>
	    </a>
	</div>
	<!-- listado de lits: end -->


    </content>
  </view>